<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <modules>
        <module class="com.vtt.antnd.modules.file.openfile.OpenBasicFileModule">
            <parameters>
                <parameter name="File name">
                    <file>file.sbml</file>
                </parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.file.openProject.OpenProjectModule">
            <parameters>
                <parameter name="Project name">SomeSubnetworks.zip</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.file.saveProject.SaveProjectModule">
            <parameters>
                <parameter name="File name">SomeSubnetworks.zip</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.configuration.cofactors.CofactorConfModule">
            <parameters>
                <parameter name="Cofactor ids">CofactorIds</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.reactionOp.showCompound.ShowCompoundModule">
            <parameters>
                <parameter name="Compound name">tryptophan</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.reactionOp.showAllCompoundList.ShowAllCompoundsModule">
            <parameters/>
        </module>
        <module class="com.vtt.antnd.modules.reactionOp.showReaction.ShowReactionModule">
            <parameters>
                <parameter name="Reaction name">t</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.reactionOp.showAllReaction.ShowAllReactionsModule">
            <parameters/>
        </module>
        <module class="com.vtt.antnd.modules.visualization.FBAVisualization.FluxAnalysisModule">
            <parameters>
                <parameter name="Fluxes">VAProduct.txt</parameter>
                <parameter name="Flux threshold">1.0E-6</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.reactionOp.compareModels.CompareModule">
            <parameters/>
        </module>
        <module class="com.vtt.antnd.modules.pathfinders.superAnt.SuperAntModule">
            <parameters>
                <parameter name="Compound ID">M_U3ZT3O82_m</parameter>
                <parameter name="Number of Iterations">100</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.pathfinders.somePaths.SomePathsModule">
            <parameters>
                <parameter name="Compound ID">M_U3ZT3O82_m</parameter>
                <parameter name="Number of Iterations">100</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.simulation.FBA.LPModule">
            <parameters/>
        </module>
        <module class="com.vtt.antnd.modules.simulation.pFBA.LPModuleMinimize">
            <parameters/>
        </module>
        <module class="com.vtt.antnd.modules.analysis.clusteringBetweenness.ClusteringBetweennessModule">
            <parameters>
                <parameter name="Number of edges to remove">20</parameter>
            </parameters>
        </module>
        <module class="com.vtt.antnd.modules.analysis.clusteringBicomponent.ClusteringBicomponentModule">
            <parameters/>
        </module>
        <module class="com.vtt.antnd.modules.analysis.clusteringkmeans.ClusteringModule">
            <parameters>
                <parameter name="Number of clusters">2</parameter>
            </parameters>
        </module>
        <module class="ParameterPath">
            <parameters/>
        </module>
        <module class="ReportFBA">
            <parameters>
                <parameter name="Report paths"></parameter>
            </parameters>
        </module>
    </modules>
</configuration>
